.Header {
  align-items: center;
  background-color: brown;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  padding: 0 20px;
  top: 0;
  width: 100%;
  z-index: 90;
}

.Header nav {
  display: none;
  height: 100%;
}

.Header img {
  width: 50px;
}

.Logo {
  height: 80%;
}

@media (min-width: 500px) {
  .Header {
    justify-content: space-between;
  }

  .Header nav {
    display: inherit;
  }
}
